<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'reset_password_confirm' uid=uid token=token %}" method="POST">
        {% csrf_token %}

        <input type="password" name="password" placeholder="password">

        <input type="password" name="repeat_password" placeholder="repeat_password">

        <button>
            Submit
        </button>

    </form>
</body>
</html>